<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.plan.PlanMapper">




<select  id='selectComment' resultType="plan">
	SELECT *
	FROM plan
	where member_id='1234'

</select>



<insert id="insertComment"  parameterType="plan">
	
	INSERT INTO plan VALUES(
	
	sequence_plan.nextval,
	#{memberId},
	 to_date(#{planSdate},'yyyy-mm-dd hh24:mi:ss'),
	 to_date(#{planEdate},'yyyy-mm-dd hh24:mi:ss'),
	#{planContent},
	null
	)


</insert>

<update id="modifyComment" parameterType="plan">

UPDATE plan 
SET plan_sdate = to_date(#{planSdate},'yyyy-mm-dd hh24:mi:ss' ), plan_edate=to_date(#{planEdate},'yyyy-mm-dd hh24:mi:ss')
WHERE plan_num=#{planNum}



</update>

<delete id="deleteComment" parameterType="int">
	
	DELETE FROM plan
	WHERE plan_num=#{id}

</delete>





















</mapper>