<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.plan.PlanMapper">




<select  id='selectComment'  parameterType="hashmap"   resultType="plan">
	SELECT *
	FROM plan
	where member_id=#{id,jdbcType=VARCHAR} and (plan_coupleck = 'null' or plan_coupleck is null  )

</select>

<select  id='select_Couple_Comment'   parameterType="hashmap"  resultType="plan">
	SELECT *
	FROM plan
	where (member_id=#{id,jdbcType=VARCHAR} or member_id=#{cid,jdbcType=VARCHAR}) and plan_coupleck != 'null'
</select>




<insert id="insertComment"  parameterType="plan">
	
	INSERT INTO plan VALUES(
	
	sequence_plan.nextval,
	#{memberId ,jdbcType=VARCHAR},
	 to_date(#{planSdate  ,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss'),
	 to_date(#{planEdate  ,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss'),
	#{planContent  ,jdbcType=VARCHAR},
	#{planCoupleck  ,jdbcType=VARCHAR},
	#{planColor  ,jdbcType=VARCHAR} 
	)
	

</insert>




<update id="modifyComment" parameterType="plan">

UPDATE plan 
SET plan_sdate = to_date(#{planSdate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss' ), plan_edate=to_date(#{planEdate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
WHERE plan_num=#{planNum,jdbcType=INTEGER} 



</update>

<delete id="deleteComment" parameterType="int">
	
	DELETE FROM plan
	WHERE plan_num=#{id,jdbcType=INTEGER} 

</delete>





















</mapper>