<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

<select id="selectMember" parameterType="member" resultType="member">
	SELECT * FROM comment_tab
	WHERE member_id = #{memberId}
	AND member_pw = #{memberPw}
</select>




</mapper>